body {
    color: white;
}

.image{
    width :100%;
    min-height: 100vh;
    height: auto;
    background-image:url('tulip.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}

.image-overlay {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(41, 39, 39, 0.8);
    padding: 30px 0;
}
#head {
   margin: 0px 350px;
   font-size: 35px;
   color: white;
}

#intro {
    margin: 30px 350px;
    font-size: 17px;
    color: white;
}

form {
    margin: 50px 400px;
    max-width: 1000px;
    min-width: 300px;
    width: 600px;
    font-size: 22px;
    font-family: cursive;
}

label {
    display: block;
    margin: 30px;
}

input,textarea {
    margin: 15px 0 0 0;
    width: 92%;
    min-height: 30px;
    font-family: cursive;
    font-size: 12px;   
}

select {
    margin: 15px 0 0 0;
    width: 92%;
    min-height: 30px;
    font-family: cursive;
    font-size: 12px;
}

.inline {
    width: unset;   
}

.card {
    margin : 5px 5px;
}
   
  .star {
    font-size: 70px;
    cursor: pointer;
    margin-left: 30px;
  }
